<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
<!--         
      <node
            category-path="/community/bert"
            factory-class="se.redfield.bert.nodes.tokenizer.BertTokenizerNodeFactory">
      </node>
-->      
      <node
            category-path="/community/bert"
            factory-class="se.redfield.bert.nodes.selector.BertModelSelectorNodeFactory">
      </node>
      <node
            category-path="/community/bert"
            factory-class="se.redfield.bert.nodes.classifier.BertClassifierNodeFactory">
      </node>
      <node
            category-path="/community/bert"
            factory-class="se.redfield.bert.nodes.predictor.BertPredictorNodeFactory">
      </node>
      <node
            category-path="/community/bert"
            deprecated="false"
            factory-class="se.redfield.bert.nodes.zstc.ZeroShotTextClassifierNodeFactory"
            hidden="false">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#ff00ff"
            hidden="false"
            name="se.redfield.bert.nodes.port.BertModelPortObject"
            objectClass="se.redfield.bert.nodes.port.BertModelPortObject"
            objectSerializer="se.redfield.bert.nodes.port.BertModelPortObject$Serializer"
            specClass="se.redfield.bert.nodes.port.BertModelPortObjectSpec"
            specSerializer="se.redfield.bert.nodes.port.BertModelPortObjectSpec$Serializer">
      </portType>
      <portType
            name="se.redfield.bert.nodes.port.BertClassifierPortObject"
            objectClass="se.redfield.bert.nodes.port.BertClassifierPortObject"
            objectSerializer="se.redfield.bert.nodes.port.BertClassifierPortObject$Serializer"
            specClass="se.redfield.bert.nodes.port.BertClassifierPortObjectSpec"
            specSerializer="se.redfield.bert.nodes.port.BertClassifierPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#00ff00"
            name="se.redfield.bert.nodes.port.BertPortObjectBase"
            objectClass="se.redfield.bert.nodes.port.BertPortObjectBase"
            objectSerializer="se.redfield.bert.nodes.port.BertPortObjectBase$DummySerializer"
            specClass="se.redfield.bert.nodes.port.BertPortObjectSpecBase">
      </portType>
   </extension>
      <extension
         point="org.knime.python.modules">
      <directory
            path="py/">
      </directory>
   </extension>
      <extension
            point="org.knime.workbench.repository.categories">
         <category
               icon="icons/redfield_logo.png"
               level-id="bert"
               name="BERT by Redfield"
               path="/community">
         </category>
      </extension>
   
</plugin>
